div.ruta
{
  padding:10px; 
  background-color: white;
  border:5px solid gray;
  margin:10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 2px 2px black;
  font-family: Noteworthy;
}

iframe
{
  width:100%;
  height:100%;
  border:none;
}

html.index, body.index
{
  height: 100%;
  width:100%;
  margin:0px;
  padding: 0;
  overflow:hidden;
}

body.pages
{
    margin:0px;
    overflow:auto;
    background:none transparent;
}

table.pages
{
    width:800px;
}

a:link
{ 
    text-decoration: none;
    color:black;
}

a:visited
{ 
    text-decoration: none;
    color:black;
}

a:active
{ 
    text-decoration: none;
    color:black;
}

h3
{
   margin-top:    20px;
   margin-bottom: 20px;
}

#grisen
{
  width:250px;
  height:25px;
  max-width:250px; 
  max-height:25px;
}
